/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
}

h1, h2, h3, label, select, input, button {
  margin: 10px auto; /* Adjust margin as needed */
  display: block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
